<!DOCTYPE html>
<html lang="en">
<head>
  <title>greeting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

 
 <div class="container">
<h1>Wrecking Ball</h1> 
<p>We clawed, we chained, our hearts in vain</p>
<p>We jumped, never asking why</p>
<p>We kissed, I fell under your spell</p>
<p>A love no one could deny</p>
<p><br></p>
<p>Don't you ever say I just walked away</p>
<p>I will always want you</p>
<p>I can't live a lie, running for my life</p>
<p>I will always want you</p>
<p><br></p>
<p>I came in like a wrecking ball</p>
<p>I never hit so hard in love</p>
<p>All I wanted was to break your walls</p>
<p>All you ever did was wreck me</p>
<p>Yeah, you, you wreck me</p>
 </div>

</body>
</html>

